@model Cart

<div class="row">
    <div class="col-9">
            @foreach (var cartItem in Model.CartItems)
            {
                <div class="card mb-3" >
                  <div class="row g-0">
                    <div class="col-4" style="max-width: 540px;">
                        <img src="@cartItem.Product.ImagePath" class="img-fluid rounded-start" alt="@cartItem.Product.Name">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <a asp-controller="Product" asp-action="Index" asp-route-id="@cartItem.Id">
                            <h5 class="card-title">@cartItem.Product.Name</h5>
                            </a>
                        <p class="card-text">@cartItem.Product.Description</p>
                        <div class="d-flex justify-content-end align-content-center">
                            <p class="fw-bold fs-3 me-3">@cartItem.TotalCost</p>
                                <div class="btn-group align-self-stretch" role="group" aria-label="Amount">
                                    <a asp-controller="Cart" asp-action="Remove" asp-route-id="@cartItem.Product.Id" class="p-3 btn btn-primary">-</a>
                                    <div class="card-text p-3 text-white bg-primary">@cartItem.Amount</div>
                                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@cartItem.Product.Id" class="p-3 btn btn-primary">+</a>
                                </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            }
        </div>

    </div>

    <div class="col-3">
        @* мб левое меню *@
    </div>