@model Cart
@if (Model == null || Model.Amount == 0)
{
    <div class="text-center">
        <h1 class="mb-3">Корзиночка пуста, пора это исправить!</h1>
        <div class="mb-3">
            <a asp-controller="Home" asp-action="Index" class="p-3 btn btn-dark">&lt;Назад к фигуркам</a>
        </div>
    </div>
}
else
{
    <div class="border border-bottom-0 border-black border-2">
        <div class="d-flex justify-content-between align-items-stretch">
            <div class="border-end">
                <a asp-controller="Home" asp-action="Index" class="p-3 btn btn-dark rounded-0">&lt; Назад к фигуркам</a>
            </div>
            <div class="border-start">
                <a asp-controller="Cart" asp-action="Clear" class="p-3 btn btn-dark rounded-0">Очистить корзину :(</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9 pe-0">
            <div class="border-top border-black border-2">
                @foreach (var cartItem in Model.CartItems)
                {
                    <div class="card rounded-0 border-top-0 border-2 border-black">
                        <div class="row g-0">
                            <div class="col-4" style="max-width: 540px;">
                                <img src="@cartItem.Product.ImagePath" class="img-fluid" alt="@cartItem.Product.Name">
                            </div>
                            <div class="col-8">
                                <div class="card-body d-flex flex-column">
                                    <a asp-controller="Product" asp-action="Index" asp-route-id="@cartItem.Id">
                                        <h5 class="card-title">@cartItem.Product.Name</h5>
                                    </a>
                                    <p class="card-text">@cartItem.Product.Description</p>
                                    <div class="justify-content-end align-self-end">
                                        <p class="fw-bold fs-3 me-3">@cartItem.TotalCost &#8381</p>
                                        <div class="btn-group" role="group" aria-label="Amount">
                                            <a asp-controller="Cart" asp-action="Remove" asp-route-id="@cartItem.Product.Id" class="p-3 btn btn-dark rounded-0">-</a>
                                            <div class="card-text p-3 text-white bg-dark">@cartItem.Amount</div>
                                            <a asp-controller="Cart" asp-action="Add" asp-route-id="@cartItem.Product.Id" class="p-3 btn btn-dark rounded-0">+</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-3 ps-0">
            <div class="border border-start-0 border-2 border-black">
                <div class="p-3">
                    <h2 class="mb-2">Итоговая сумма</h2>
                    <h2 class="mb-2">@Model.TotalCost &#8381</h2>
                </div>
                <div class="lign-self-end">
                    <a asp-controller="" asp-action="" class="p-3 btn btn-dark rounded-0">Оформить заказ</a>
                </div>
            </div>
        </div>
    </div>
}