@model List<Product>

<div class="row">


    <div class="col-3">
        @* мб левое меню *@
    </div>

    <div class="col-9">
        <div class="row">
        @foreach (var product in Model)
        {
            <div class="card col-4" style="width: 18rem;">
                <img src="@product.ImagePath" class="img-fluid card-img-top" alt="@product.Name">
                <div class="card-body">
                        <a asp-controller="Product" asp-action="Index" asp-route-id="@product.Id" ><h5 class="card-title">@product.Name</h5></a>
                    <p class="card-text">@product.Description</p>
                    <div class="d-flex justify-content-around">
                        <p class="fw-bold fs-5">@product.Сost</p>
                        <a href="#" class="btn btn-primary">Хочу!</a>
                    </div>
                </div>
            </div>
        }
        </div>

    </div>

</div>